* {
    box-sizing: border-box;
   
}

body {
    background: url(pexels-joshsorenson-1714208.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
margin: 0;
font-family: system-ui, sans-serif;
color: #000;
background-color: #fcfafa; 
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;

}

h1 {
    font-size: large;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-top: 27px;
    margin-left: 10px;
}

p {
    color: #fffffffa;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 27px;
}

u {
  color: white;
}

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    height: 60px;
    border-bottom: 3px solid #298e33;
    font-size: 20px;
    font-weight: bold;
    transition-duration: 0.4s;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #333;
  }
