* {
    box-sizing: border-box;
   
}

body {
    background: url(pexels-joshsorenson-1714208.jpg);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

body {
margin: 0;
font-family: system-ui, sans-serif;
color: #000;
background-color: #fcfafa; 
}

h1 {
    font-size: large;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

p {
    color: #000000fa;
    font-family: Arial, sans-serif;
    font-size: medium;
    margin-left: 10px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
